{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Clubs</h1>
    {% if form %}
        {{ form_start(form) }}
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    {{ form_widget(form.search, { 'attr':  {
                        'class': 'form-control',
                        'placeholder': 'Rechercher les clubs'
                    }}) }}
                </div>
            </div>
            <div class="col-2">
                {{ form_row(form.submit, { 'label': 'Rechercher' }) }}
            </div>
        </div>
        {{ form_end(form) }}
    {% endif %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">profil</th>
            <th scope="col">Nom</th>
            <th scope="col">Domaine</th>
            <th scope="col">Détails</th>
            <th scope="col">Description</th>
            <th scope="col">Email</th>
            <th scope="col">Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for club in clubs %}
            <tr>
                <th scope="row"><a href="{{ path('club_show',{id:club.id}) }}" >  <img src=" {{ '/uploads/' ~ club.imageEmp }}  " id="zoom" height="100" width="100"  style="animation: backwards"> </a></th>
                <td>{{ club.nom }}</td>
                <td>{{ club.domaine }}</td>
                <td>{{club.detail }}</td>
                <td>{{ club.description }}</td>
                <td>{{ club.user.email }}</td>
                <td> <a  href="{{ path('club.supprimer',{id:club.id}) }}"><span class="iconify" data-icon="mdi:delete"   data-inline="false"></span></a>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </section>
{% endblock %}
