{% extends 'base.html.twig' %}
    {% block stylesheets %}
        <style>
            body {
                background-image:url('{{asset('bg/party.png') }}');
            }
            #zoom:hover {
                -ms-transform: scale(1.1); /* IE 9 */
                -webkit-transform: scale(1.1); /* Safari 3-8 */
                transform: scale(1.1);
            }
        </style>
    {% endblock %}
{% block body %}
    {% if form %}
        {{ form_start(form) }}
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    {{ form_widget(form.search, { 'attr':  {
                        'class': 'form-control',
                        'placeholder': 'Rechercher les événements'
                    }}) }}
                </div>
            </div>
            <div class="col-2">
                {{ form_row(form.submit, { 'label': 'Rechercher' }) }}
            </div>
        </div>
        {{ form_end(form) }}
    {% endif %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{  message }}
        </div>
    {% endfor %}
    {% if is_granted('ROLE_CLUB') %}
    <a class="btn btn-outline-dark btn-lg" style="float: right" type="botton" href="{{ path('event.create') }}" >
        Ajouter un événement
    </a>
    {% endif %}
    <h1 class=" text-center" style="background-color: white">Liste des événements</h1>
    {% for event in events %}
        <div class="media" id="zoom" style="border: 2px solid rgb(80,80,80);margin:10px;padding: 15px;border-radius: 5% 8% 13% 3%;background-color: white;">
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="{{ path('event.show',{id:event.id}) }}">
                       {{ event.title }}
                    </a>
                    <small style="font-size:small"><i>Posté le : {{ event.createdAt|date('d/m/Y') }}</i></small></h4>
                <em>{{ event.description }}</em><br>
            </div>
            {% if event.image %}
                <div class="media-right media-middle">
                    <img src="{{ '/uploads/' ~ event.image  }}" class="media-object" style="width:200px">
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {%  for p in 1..nbPage %}
            <li class="page-item"><a class="page-link" href="{{ path('event.index', {page :p}) }}">{{ p }}</a></li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
