{% extends 'base.html.twig'%}
    {% block stylesheets %}
        <style>
            body {
                background-image:url('{{asset('bg/88.jpg') }}');
            }
        </style>
    {% endblock %}
{% block body %}
    <br>
    <br>
    <div class="align-content-center">
    {{ form_start(form) }}
    <div class="jumbotron" style="background-color: white">
        <h1>
            Modification de votre compte!!!<span class="iconify" data-icon="ic:round-autorenew" data-inline="false"></span>
        </h1>
    <div class="form-group">
        {{ form_row(form.nom,{'attr':{'placeholder':"nom du club"}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.prenom,{'attr':{'placeholder':"nom du club"}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.email,{'attr':{'placeholder':"@Email"}}) }}
    </div> <div class="form-group">
    {{ form_row(form.date,{'attr':{'placeholder':"domaine"}}) }}
</div>
    <div class="form-group">
        {{ form_row(form.num,{'attr':{'placeholder':"description"}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.password,{'attr':{'placeholder':"detail"}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.imageEmp,{'attr':{'placeholder':"Emplacement image"}}) }}
    <button type="reset" class="btn btn-outline-dark float-right">Annuler<span class="iconify" data-icon="entypo:cross" data-inline="false"></span></button>
    <button type="submit" class="btn btn-outline-success float-right">  Enregistrer les modifications<span class="iconify" data-icon="dashicons:saved" data-inline="false"></span></button>
    {{ form_end(form) }}
    </div></div></div>
{% endblock %}