{% extends 'base.html.twig' %}
{% block body %}
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: auto;
        text-align: center;
        font-family: arial;
    }
    .hidden
    {
        font-size: 0px;
    }

    .title {
        color: grey;
        font-size: 18px;
    }

    #contact {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    #card {
        text-decoration: none;
        font-size: 22px;
        color: black;
    }

    button:hover, a:hover {
        opacity: 0.7;
    }
     body {
         background-image:url("{{ asset('bg/123.jpg') }}");
     }
</style>
</head>
<body>

<h2 style="text-align:center"></h2>

<div class="card">
    <div class="content">
        <img src="{{'/uploads/' ~ club.imageEmp}}" alt="Impossible de détécter la photo" width="895" height="400">
    </div>
    <h1>{{club.nom }}</h1>
    <a href="http://www.insat.rnu.tn/Fr/accueil_46_34"><i class="fa fa-dribbble">INSAT<span class="iconify" data-icon="icons8:student" data-inline="false"></span><i></a>
    <p class="title">Domaine:{{ club.domaine }}</p>
    <p class="title">Détail:{{ club.detail }}</p>

    <div id ="card"style="margin: 24px 0;">

    </div>
    <p class="title"> <input value="{{ user.email }}" id="myInput" readonly></p>
    <button class="btn btn-outline-dark"  onclick="myFunction()" id="myInput">copier<span class="iconify" data-icon="bx:bx-copy-alt" data-inline="false"></span></button>
    {% if is_granted('ROLE_ETUDIANT') %}
    {% if bool==false %}
        <button class="btn btn-outline-success" id="bb" value="ins">
        S'inscrire</button>
        {% else %}
            <button class="btn btn-outline-danger" id="bb" value="des">
                Se désinscrire
            </button>
            {% endif %}
        {#<a href="{{ path('etudiant_unsubscribeme',{id:club.id}) }}" id="desin" style="visibility: hidden"><button class="btn btn-outline-danger" onclick="hide('desin','ins')">
                Se désinscrire <span class="iconify" data-icon="fxemoji:crossmark" data-inline="false"></span>
            </button> </a>#}
    {% endif %}
    <br>
    <br>
</div>

<script>
    function myFunction() {
        var copyText = document.getElementById("myInput");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        document.execCommand("copy");
        alert("Copied the text");
    }
    // $(document).ready(function() {
    //     load_unseen_notification();
    //     let inscrire = document.getElementById('inscrire');
    //     let path = inscrire.parentElement.getAttribute("href");
    //     inscrire.click(function (e) {
    //         e.preventDefault();
    //         $.ajax({
    //             type: "POST",
    //             url: path,
    //             data: {
    //                 id: $(this).val(), // < note use of 'this' here
    //             },
    //             success: function (result) {
    //                 alert('ok');
    //                 load_unseen_notification();
    //             },
    //             error: function (result) {
    //                 alert('error');
    //             }
    //         });
    //     });
    // }
    // );
</script>

{% endblock %}
{% block javascripts %}
<script>
   let ins =document.getElementById('bb');
    jQuery(document).ready(function() {
        jQuery(ins).click(function () {
            let url; let txt; let val;
            if(ins.value === "ins"){
                url ="{{ url('etudiant_subscribe',{id:club.id}) }}";
                txt = "Se désinscrire";
                val='des';
            }
            else {
                url ="{{ url('etudiant_unsubscribeme',{id:club.id}) }}";
                txt= "S'inscrire" ;
                val='ins';

            }
            ins.value=val;
            ins.classList.toggle("btn-outline-success");
            ins.classList.toggle("btn-outline-danger");
            ins.innerText = txt;
            jQuery.post(url);
        })
    });
    </script>
{% endblock %}







